* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background: rgb(164, 206, 164);
    position: relative;
}

#robot {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    background: #bb0000;
}

h1 {
    text-align: center;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
}

